<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Imagix</title>
	<link rel="icon" type="image/png" href="https://i.imgur.com/VC3r71N.png">
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="/css/modal.css" type="text/css">
    
</head>
<body>
     <nav>
        <div>
             <ul>
                <li><a  href="/">IMAGIX</li>
                <li class="right"><a href="https://github.com/BloxOfficial/Imagix">GITHUB</a></li>   
                <li class="right"><a href="/">SUBIR NUEVO</a></li>   
            </ul>
        </div>
	</nav>
	<div class="about-content">
        <div class="row">
            <div class="col s12">
				<p class=""><img src="https://i.imgur.com/2lE8o3q.png" width="380" alt=""></p>
				<p class="description">Imagix usa almacenamiento gratuito de glitch.com (200MB) para almacenar imágenes. 
				<p>Debido al espacio de almacenamiento insuficiente, limitamos el tamaño de cada imagen a 800 KB</p>
        <p>Qué es Imagix?: Imagix es una simple aplicación web que te permite subir imágenes sin necesidad de registro... (v1.0.2) - Blox</p>
        <p>Proyecto basado en el proyecto DIIMG (https://github.com/Cratermaik/DIIMG)</p>                
            </div>
		</div>
		
	</div>
</body>
</html>